h1{
    
    height: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
/*    text-decoration: line-through;*/
    background: linear-gradient(to right,#26A2B7,white);
}
.dusra{
     
    height: 400px;
    background: linear-gradient(to right,#FAD5E6,white);
     margin: 0;
    padding: 0;
       text-align: center;
}
.thrd{
     
    height: 400px;
    background: linear-gradient(to right,#FE2020,white);
     margin: 0;
    padding: 0;
       text-align: center;
}
.radial{
    
       height: 400px;
    background: radial-gradient(#FE2020,white);
     margin: 0;
       text-align: center;
    padding: 0;
}

input:checked+label{
    text-decoration: line-through;
}